<div class="container">
    <div class="row">
        <h2>Lorem, ipsum.</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium dolorum quasi, necessitatibus
            doloribus qui vero possimus rerum facere aut ea?</p>
    </div>
    <div class="row">
        <h2>Illo, ex?</h2>
        <p>Impedit explicabo recusandae illum, odio iusto doloribus officiis vitae voluptatibus ea nobis ipsam
            vel? Facere possimus modi labore quia iste.</p>

    </div>
    <div class="row">
        <h2>Unde, consectetur?</h2>
        <p>Velit ab quis quae eveniet adipisci quasi vero quam ratione, eaque voluptate excepturi dolor
            consectetur tempore minus cumque beatae sapiente!</p>
    </div>
    <div class="row">
        <h2>Mollitia, minima.</h2>
        <p>Doloribus, distinctio? Quia est, ullam ducimus hic vero odit reiciendis nam iure facere aut pariatur
            nemo ipsum repellat impedit dolore?</p>
    </div>
    <div class="row">
        <h2>A, autem.</h2>
        <p>Temporibus ut, odit quis totam dignissimos porro facilis nihil, rem provident corporis veritatis
            veniam quas tempore quia quidem similique nemo!</p>
    </div>
</div>